<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Signinserv</display-name>
    <servlet-name>Signinserv</servlet-name>
    <servlet-class>servelet.Signinserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signinserv</servlet-name>
    <url-pattern>/Signinserv</url-pattern>
  </servlet-mapping>
  <display-name>tesxireservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signupserv</display-name>
    <servlet-name>Signupserv</servlet-name>
    <servlet-class>servelet.Signupserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signupserv</servlet-name>
    <url-pattern>/Signupserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookingserv</display-name>
    <servlet-name>bookingserv</servlet-name>
    <servlet-class>servelet.bookingserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingserv</servlet-name>
    <url-pattern>/bookingserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Outstationserv</display-name>
    <servlet-name>Outstationserv</servlet-name>
    <servlet-class>servelet.Outstationserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Outstationserv</servlet-name>
    <url-pattern>/Outstationserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hourserv</display-name>
    <servlet-name>Hourserv</servlet-name>
    <servlet-class>servelet.Hourserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hourserv</servlet-name>
    <url-pattern>/Hourserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conformhourserv</display-name>
    <servlet-name>Conformhourserv</servlet-name>
    <servlet-class>servelet.Conformhourserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conformhourserv</servlet-name>
    <url-pattern>/Conformhourserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conformbookserv</display-name>
    <servlet-name>Conformbookserv</servlet-name>
    <servlet-class>servelet.Conformbookserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conformbookserv</servlet-name>
    <url-pattern>/Conformbookserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conformoutserv</display-name>
    <servlet-name>Conformoutserv</servlet-name>
    <servlet-class>servelet.Conformoutserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conformoutserv</servlet-name>
    <url-pattern>/Conformoutserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conformbookser</display-name>
    <servlet-name>Conformbookser</servlet-name>
    <servlet-class>servelet.Conformbookser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conformbookser</servlet-name>
    <url-pattern>/Conformbookser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>taxibookservelet</display-name>
    <servlet-name>taxibookservelet</servlet-name>
    <servlet-class>servelet.taxibookservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taxibookservelet</servlet-name>
    <url-pattern>/taxibookservelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hourbookservlet</display-name>
    <servlet-name>Hourbookservlet</servlet-name>
    <servlet-class>servelet.Hourbookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hourbookservlet</servlet-name>
    <url-pattern>/Hourbookservlet</url-pattern>
  </servlet-mapping>
</web-app>